.Watson {
    -fx-background-image: url('pictures/detectives/Watson.png');
    background-image: url('pictures/detectives/Watson.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Tobi {
    -fx-background-image: url('pictures/detectives/Tobi.png');
    background-image: url('pictures/detectives/Tobi.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}


.Sherlock1 {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.PINK {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.BLACK {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.ORANGE {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.VIOLET {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.GREEN {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.YELLOW {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.BLUE {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.WHITE {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.BROWN {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

