.Alibi0 {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi1 {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi2 {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi3 {
    -fx-background-image: url('pictures/detectives/Watson.png');
    background-image: url('pictures/detectives/Watson.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi4 {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi5 {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi6 {
    -fx-background-image: url('pictures/detectives/Tobi.png');
    background-image: url('pictures/detectives/Tobi.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi7 {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi8 {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi9 {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi10 {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Alibi11 {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

