.Watson {
    -fx-background-image: url('pictures/detectives/Watson.png');
    background-image: url('pictures/detectives/Watson.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Tobi {
    -fx-background-image: url('pictures/detectives/Tobi.png');
    background-image: url('pictures/detectives/Tobi.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}


.Sherlock1 {
    -fx-background-image: url('pictures/detectives/Sherlock.png');
    background-image: url('pictures/detectives/Sherlock.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Madame {
    -fx-background-image: url('pictures/districts/Madame-rector.png');
    background-image: url('pictures/districts/Madame-rector.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Goodley {
    -fx-background-image: url('pictures/districts/SgtGoodley-recto.png');
    background-image: url('pictures/districts/SgtGoodley-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Bert {
    -fx-background-image: url('pictures/districts/JeremyBert-recto.png');
    background-image: url('pictures/districts/JeremyBert-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Gull {
    -fx-background-image: url('pictures/districts/WilliamGull-recto.png');
    background-image: url('pictures/districts/WilliamGull-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Stealthy {
    -fx-background-image: url('pictures/districts/MissStealthy-recto.png');
    background-image: url('pictures/districts/MissStealthy-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Smith {
    -fx-background-image: url('pictures/districts/JohnSmith-recto.png');
    background-image: url('pictures/districts/JohnSmith-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Lestrade {
    -fx-background-image: url('pictures/districts/InspLestrade-recto.png');
    background-image: url('pictures/districts/InspLestrade-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Pizer {
    -fx-background-image: url('pictures/districts/JohnPizer-recto.png');
    background-image: url('pictures/districts/JohnPizer-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

.Lane{
    -fx-background-image: url('pictures/districts/JosephLane-recto.png');
    background-image: url('pictures/districts/JosephLane-recto.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
}

